name: Daily Update
on:
  schedule:
    - cron: '45 21 * * *'
  workflow_dispatch:
    branches:
      - main

jobs:
  run_script:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}  # 显式指定工作目录
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify environment.yml
        run: |
          ls -la
          if [ ! -f "environment.yml" ]; then
            echo "File not found in $PWD"
            exit 1
          fi

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v4
        with:
          activate-environment: base
          python-version: 3.10

      - name: Update environment
        run: conda env update --file environment.yml --name base

      - name: Run script and commit
        run: |
          python main.py
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Auto-update" || echo "No changes"
          git push
        env:
          TZ: Asia/Shanghai
